@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2e86ab;
  --secondary-color: #34c759;
  --background-color: #f8f9fa;
  --panel-bg-color: #ffffff;
  --accent-color: #ff9500;
  --text-color: #343a40;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
